ffmpeg-python==0.2.0
opencv-python==4.4.0.46
face_alignment==1.1.1
scikit-learn==0.23.2
pydub==0.24.1
pynormalize==0.1.4
soundfile==0.10.3.post1
librosa==0.8.0
pysptk==0.1.18
pyworld==0.2.12
resemblyzer==0.1.1.dev0
